@model PagedList.IPagedList<WebBanHangOnline.Models.EF.Order>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Danh sách đơn hàng";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/order" class="nav-link">Danh sách đơn hàng</a>
        </li>
        @*<li class="nav-item d-none d-sm-inline-block">
                <a href="/admin/category/add" class="nav-link">Thêm mới</a>
            </li>*@
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    @*<li class="breadcrumb-item active">Danh mục</li>*@
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn hàng</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Phone</th>
                        <th>Địa chỉ</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;<!--(Số trang - 1) * (Số tin trong 1 trang) + 1-->
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>@(i)</td>
                                <td>@item.Code</td>
                                <td>@item.CustomerName</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                <td>@WebBanHangOnline.Common.Common.FormatNumber(item.TotalAmount, 0)</td>
                                <td>@(item.TypePayment == "COD" ? "Chờ thanh toán" : "Đã thanh toán")</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="/admin/order/view/@item.Id" class="btn btn-sm btn-success">Xem</a>
                                    <a href="#" class="btn btn-sm btn-primary btnUpdateStatus" data-id="@item.Id">Cập nhật</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>

            <!--Phân trang-->
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái đơn hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0" />
                <form class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="dsTrangThai">
                        <option value="COD">Chờ thanh toán</option>
                        <option value="Tiền mặt">Đã thanh toán - tiền mặt</option>
                        <option value="Chuyển khoản">Đã thanh toán - chuyển khoản</option>
                        <option value="QR code">Đã thanh toán - QR Code</option>
                        <option value="Credit Card">Đã thanh toán - Credit Card</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btnSave">Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnUpdateStatus', function () {
                var id = $(this).data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '.btnSave', function () {
                var id = $('#txtOrderId').val();
                var trangthai = $('#dsTrangThai').val();
                $.ajax({
                    url: '/admin/order/UpdateStatus',
                    type: 'POST',
                    data: { id: id, status: trangthai },
                    success: function (res) {
                        if (res.Success) {
                            location.reload();
                        }
                    }
                });                
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa đơn hàng này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/order/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.Success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}